body,
* {
    padding: 0;
    margin: 0;
}



/* a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
} */

/* a:hover {
    color: #FF7373;
} */

p {
    font-size: 14px;
    margin-top: 4px;
    color: #616365;
    width: 40%;
}

.sec-coment {
    margin: 0 0px 0 34px;
}

.first-coment-text {
    margin: 0 0 0PX 10PX;
}

.sec-coment-text {
    margin: 0 0 0 10PX;
}

.third-coment-text {
    margin: 0 0 0 10px;
}

.main {

    margin: 5px;
    padding: 5px;
}

.username {
    padding: 10px 150px 10px;
    margin: 0 5px 0 0;
    text-align: center;
    margin: 5px;
}

/* .username:hover {
    border: #FF7373 solid 0.5px;
} */

.email {
    padding: 10px 150px 10px;
    text-align: center;
}

/* .email:hover {
    border: #FF7373 solid .5px;
} */

.coment {
    padding: 50px 405px 50px;
    margin: 4px;
}

/* .coment:hover {
    border: #FF7373 solid .5px;
} */

.button {
    border: 0;
    padding: 20px 70px 20px;
    display: block;
    background-color: #FF7373;
    font-weight: 800;
    font-size: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.button:hover {
    background-color: black;
    color: white;
}